//colors
$green:#55c57a;
$green-light:#7ed56f;
$green-dark:#28b485;
$green-second:#21d69a;
$grey:#777;
$grey-dark:#999;
$black-light:#333;
$white:#fff;
$black:#000;
$honey-light:#ffb900;
$honey:#ff7730;

$blue:#2998ff;
$blue-dark:#5643fa;

//grid
$grid-width:114em;
$space-vertical:8em;
$space-vertical-small:6em;
$space-horizontal:6em;