.story{
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($black, 0.1);
    background-color: rgba(255, 255, 255, 0.644);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    transform: skewX(-12deg);
    backface-visibility: hidden;
    position: relative;
    @include  respond(tab-small){
        width: 100%;
        transform: skewX(0deg);

    }

    & > * {
        transform: skewX(12deg);
        backface-visibility: hidden;
        @include  respond(tab-small){
            transform: skewX(0deg);
            
        }
    }
    &-text{
        font-size: 1.5em;
        backface-visibility: hidden;
        @include  respond(tab-small){
            font-size: 1.8em;}
            
        &-header{
            font-size: 2rem;
            @include  respond(tab-small){
                font-size: 2.2rem;}
        }
    }
    &_shape{
        width: 15rem;
        height: 15rem;
        float: left;
        background-color: orangered;
        shape-outside: circle(50% at 50% 50%);
        -webkit-shape-outside:  circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-clip-path:  circle(50% at 50% 50%);
        transform: translateX(-2rem) skewX(12deg);
        position: relative;
        backface-visibility: hidden;
        @include  respond(tab-small){
            transform: skewX(0deg);
            margin-right: 3.5rem;
            
        }
        

    }
    &-image{
       height: 100%;
       width: 100%;
       backface-visibility: hidden;
       transform: scale(1.3);
       transition: all .5s;
      
      
     
    }
    
    &-caption{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% ,20%);
        color:#fff;
        font-size: 2em;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden
    }

    &:hover &-caption{
        opacity: 1;
        transform: translate(-50% ,-50%);
    }
    &:hover &-image{
        transform: scale(1);
        filter:blur(3px) brigthness(80%)
    }


}
.margin-top-5{
    margin-top: 6em;
    
}
.section-stories{position: relative;
}
